
# Example code in package build process
# History files
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# RStudio files
# Session Data files
# Temporary files created by R markdown
# knitr and R markdown default cache directories
# produced vignettes
#credentials
#test output
*-Ex.R
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.knit.md
*.mdb
*.shp*
*.shx
*.utf8.md
*.xls*
*.RDS
*_files
.DS_Store
.RData
.RHistory
.Rapp.history
.Renviron
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
.httr-oauth
/*.Rcheck/
/*.tar.gz
/*_cache/
/cache/
QC_CHARTS.csv
_NOT_GIT_/
dbcredentials.txt
docs
figure_html/
inbolims/.Rbuildignore
inbolims/inst/*.html
index.html
libs
output
platereport.csv
renv/library
test.csv
test_xtab.csv
test3.csv
test_abi_ascii.txt
tijdelijk/
vignettes/*.html
vignettes/*.pdf
workdir/
inst/doc
